@model MvcDashboard.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.css" integrity="sha256-62TVvQ65tYq9mhgBoBcHn7Ix4HA8d2+wUBEtYH/BtIY=" crossorigin="anonymous" />
    @foreach (var styleReference in Model.Widgets.SelectMany(w => w.StyleReferences).Distinct())
    {
        @Html.Raw("    " + styleReference)
    }
    <!-- widget scripts -->
    @foreach (var widget in Model.Widgets)
    {
        <style>
            @Html.Raw(widget.Style)
        </style>
    }
}

<div>
    <h1>
        @Model.PageTitle
    </h1>

    <!-- widgets -->
    <div class="grid-stack">

        @{
            int i = 0;
        }

        @foreach (var widget in Model.Widgets)
        {
        <div class="grid-stack-item"
             data-gs-x="@Html.Raw(i*3)" data-gs-y="0"
             data-gs-width="3" data-gs-height="2">
            <div class="grid-stack-item-content">
                @Html.Raw(widget.Template)
            </div>
        </div>

            i++;

        }

    </div>

</div>

@section scripts{

    <!-- grid stack -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.all.js"></script>

    <!-- libraries-->
    @foreach (var scriptReference in Model.Widgets.SelectMany(w => w.ScriptReferences).Distinct())
    {
        @Html.Raw("    " + scriptReference)
    }


    <!-- grid stack -->
    <script type="text/javascript">
        $(function () {
            var options = {
                cell_height: 80,
                vertical_margin: 10
            };
            $('.grid-stack').gridstack(options);
        });
    </script>

    <!-- widget scripts -->
    @foreach (var widget in Model.Widgets)
    {
        <script>
            @Html.Raw(widget.Script)
        </script>
    }

}